@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply py-8 px-8 bg-batao-card shadow-lg shadow-batao-shadow rounded-2xl;
}

.card-sm {
    @apply py-7 px-6 bg-batao-card shadow-lg shadow-batao-shadow  rounded-2xl;
    min-width: 190px;
} 

.hovered {
    @apply hover:shadow-xl hover:shadow-batao-shadow
}

.card-sm .label {
    transition: all  0.2s linear;
    @apply absolute top-2 right-2 py-[5px] px-[10px] bg-batao-label text-white text-xs leading-[14px] rounded-md;
}

.card-sm .count {
    @apply text-batao-text font-bold text-[40px] leading-none
}

.card-sm .title {
    @apply text-batao-text text-base leading-5
}

.card-sm .sub-title {
    @apply text-batao-disabled text-xs leading-4
}


.card-sm.active .label {
    @apply bg-batao-primary; 
}

.card-sm.active .count {
    @apply text-batao-primary
}

.card-sm.active .title {
    @apply text-batao-primary 
}

.card-sm.active .sub-title {
    @apply text-batao-sub-text
}

.card-sm.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    @apply right-6;
    width: calc(100% - 48px);
    height: 3px;
    @apply bg-batao-primary;
}

.toggle {
    @apply block relative shadow-lg shadow-batao-shadow bg-batao-card  w-[70px] h-[37px] p-1 rounded-[10px] before:absolute before:bg-batao-primary before:w-[30px] before:h-[30px] before:p-1 before:rounded-[10px] before:transition-all before:duration-300 before:left-1 peer-checked:before:left-[36px] ;

}

.tabs-sm-screen {
    overflow-x: auto;
    padding-bottom: 20px;
    margin-bottom: 12px;
    padding-left: 8px;
    margin-left: -8px;
    @apply xl:m-0 xl:p-0 xl:overflow-visible
}

.divider-x {
    @apply w-full h-[1px] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-batao-accent to-transparent opacity-80;
}

.btn-accent {
    @apply bg-batao-accent text-white text-xs px-11 py-3 rounded-md shadow-lg hover:shadow-batao-accent;
    transition: box-shadow 0.2s linear;
}

.btn-light {
    @apply bg-batao-card text-batao-text text-xs px-11 py-3 rounded-md hover:shadow-lg ;
    transition: box-shadow 0.2s linear;
}

.modal-backdrop {
    @apply bg-black bg-opacity-20 h-screen w-screen fixed top-0 bottom-0 right-0 left-0;

}

.modal {
    margin: auto;   
    width: fit-content;
    /* visibility: hidden; */

    transform: translate(0, -50%);
    transition: transform 4s .3s ease-out;

    /* @apply fade; */
}

.fade {
    opacity: 0;
    transition: opacity 5s  3s linear;
}

.modal.open{
    transform: translate(0, 0);
    /* visibility: visible; */

    /* opacity: 1; */
    
}